.sidebar-container {
	display: flex;
	flex-direction: column;
	padding: 32px 16px;
	height: 100dvh;

	.content-container{
		display: flex;
		flex-direction: column;
		justify-content: space-between;	

		.profile-menu-container{
			display: flex;
			flex-direction: column;
			gap: 32px;
		}
	}
}