<div class="button-wrapper">
	@if (Href() === undefined){
	<button type="button" (click)="OnClick()" [style.maxWidth]="MaxWidth()" [class.full-width]="FullWidth()"
		[class.flex]="IsFlex()" [class.primary]="Theme() === 'primary'" [class.secondary]="Theme() === 'secondary'">
		<div *ngTemplateOutlet="content"></div>
	</button>
	} @else {
	@if (IsRouterLink()){
	<a [style.maxWidth]="MaxWidth()" [class.full-width]="FullWidth()" [class.flex]="IsFlex()" [routerLink]="Href()"
		[class.primary]="Theme() === 'primary'" [class.secondary]="Theme() === 'secondary'">
		<div *ngTemplateOutlet="content"></div>
	</a>
	} @else {
	<a [style.maxWidth]="MaxWidth()" [class.full-width]="FullWidth()" [class.flex]="IsFlex()" [attr.href]="Href()"
		[class.primary]="Theme() === 'primary'" [class.secondary]="Theme() === 'secondary'">
		<div *ngTemplateOutlet="content"></div>
	</a>
	}
	}
</div>
<ng-template #content>
	<ng-content></ng-content>
</ng-template>